<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="WeatherUpdatePeriod" value="15"/>
    <add key="LocationApiKey" value="{Your api key for http://api.ipstack.com/}"/>
    <add key="WeatherApiKey" value="{Your api key for http://api.openweathermap.org/}"/>
  </appSettings>
</configuration>